services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/cardboard-companion
      - ./cardboard-companion.yml:/code/cardboard-companion.yml
    ports:
      - 3000:3000
